/* =======google-font========= */
.figtree{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
}

/* =======scrollbar========= */
.customScrollbar::-webkit-scrollbar{
  display: none;
}
.modalScrollbar::-webkit-scrollbar-track{
  margin-right:-20px
}